<div>

  <app-generic-header></app-generic-header>

  <div class="admin-sec">
    <div class="row admin-top">
      <div class="col-md-4 admin-title">
        <h3 class="mb-0"><a routerLink="/dashboard"><i class="fas fa-angle-left"></i> Back to Dashboard</a></h3>
      </div>
      <!-- <div class="col-md-4 tickets">
        <ul>
          <li class="pending"><strong>{{prodcastService.RJStatistics.PendingRJTotal}}</strong> Pending</li>
          <li class="rejected"><strong>{{prodcastService.RJStatistics.RejectedRJTotal}}</strong> Rejected</li>
          <li class="approved"><strong>{{prodcastService.RJStatistics.ApprovedRJTotal}}</strong> Approved</li>
        </ul>
      </div> -->
    </div>
  </div>



  <div class="body-main">
    <div class="body-content">
      <div class="row">
        <div class="col-12 col-lg-12">
          <h3>Delected Podcast board</h3>
          <div class="shadow-sm border-0 card card-body admin-height table-text p-0">
            <!-- <div class="information">
              <h4>Information</h4>
              <ul>
                <li class="pending"><strong>{{prodcastService.RJStatistics.PendingRJTotal}}</strong> Pending</li>
                <li class="rejected"><strong>{{prodcastService.RJStatistics.RejectedRJTotal}}</strong> Rejected</li>
                <li class="approved"><strong>{{prodcastService.RJStatistics.ApprovedRJTotal}}</strong> Approved</li>
              </ul>
            </div> -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="pic">Picture</th>
                    <th>Name of the the RJs</th>
                    <th>

                      <button id="btnGroupDrop2" type="button" class="dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false" (click)="showStatus = !showStatus">
                        <strong>Status</strong>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop2" [ngStyle]="{'display' : showStatus ? 'block':'none'}"
                        >
                        <li class="pending" (click)="searchList('');showStatus = false"><a class="dropdown-item">All</a></li>
                        <li class="pending"><a class="dropdown-item"
                            (click)="searchList('Pending');showStatus = false">Pending</a></li>
                        <li class="approved"><a class="dropdown-item"
                            (click)="searchList('Approved');showStatus = false">Approved</a></li>
                        <li class="rejected"><a class="dropdown-item"
                            (click)="searchList('Rejected');showStatus = false">Rejected</a></li>
                        <li class="block"><a class="dropdown-item"
                            (click)="searchList('Block');showStatus = false">Block</a></li>
                      </ul>
                    </th>
                    <th>E-mail</th>
                    <th>Phone Number</th>
                    <th class="text-center">Revoke Profile</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of deleteList;let i=index">
                    <td class="pic">
                      <img src="assets/images/login-img.jpg" alt="img" />
                    </td>
                    <td class="rjsname">
                      <h5 class="mb-0">{{a.fullname}}</h5>
                     
                    </td>

                    <td style="position: relative;">


                      <button id="btnGroupDrop2" type="button" class="dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false" (click)="a.ShowStatus = ! a.ShowStatus">
                        {{a.approval_status}}
                      </button>
                    </td>
                    <td>{{a.email}}</td>
                    <td>{{a.phone}}</td>
                    <td class="text-center"><a><i class="fas fa-pen" (click)="revokeSelectedPodcast(a)"></i></a></td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-page-loader *ngIf="isProgressing"></app-page-loader>