
  <!--Header Start Here-->
  <app-generic-header></app-generic-header>
  <!--Header End Here-->

<div class="body-main">
  <div class="body-content" style="height: 85vh;">
    <h3 style="cursor: pointer;"><a (click)="router.navigateByUrl('/login')"><i class="fas fa-angle-left"></i> Back to Dashboard</a></h3>   
 
      <h3>Add Language</h3>

       
          <div class="row">
            <div class="col-md-12 px-1 d-flex">
              <div class="top-search">
                <div class="input-group mx-2">
                    <input type="text" class="form-control" placeholder="Enter New Language" [(ngModel)]="NewLangName">
                </div>
              </div>
              <button class="custome-button mx-4" (click)="createLanguage()">Add New Language</button>
              <img *ngIf="apiCalled" src="./assets/images/loader.gif" style="width: auto;height: 38px;margin-left: 20px;">
            </div>
          </div>            
          <div class="row">
            <div class="col-md-12 px-1 d-flex">
             <ul class="c-list">
               <li *ngFor="let a of prodCastService.LanguageList"><span>{{a.name}}</span> <i class="fas fa-trash-alt" (click)="Id=a.id;showConfirmPopup=true;"></i></li>
             </ul>
          </div>            
     
 
  </div>
</div>


<div *ngIf="showConfirmPopup">
  <!--------------------------->
<!--Delete The Modal -->
<div class="background-grey"></div>
<div class="popup-box" style="height: 130px;text-align: center;">
  <div>
     <h4 class="mb-0"> Please Confirm on Delete ?</h4>
     <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="showConfirmPopup = false">X</button>
   </div>

   <!-- Modal body href="dashboard.html" 366,367-->
     <div class="modal-body">
    <a ><button class="custome-button mx-2" (click)="deleteLanguage(Id)">Confirm</button></a>
    <a ><button class="custome-outline mx-2"  (click)="showConfirmPopup = false">Cancel</button></a>
   </div>
 </div>
</div>