  <!--Header Start Here-->
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex flex-wrap align-items-center">
          <div class="logo"><a href="#"><img src="assets/images/logo.jpg" alt="Logo" /></a></div>
          <div class="top-title">
            <h1>Admin Dashboard</h1>
          </div>
          <div class="logo-right">
            <div class="top-user">
              <div class="top-name">
                <div>
                 <p class="mb-0"><strong>Welcome, Admin Name</strong> </p>
                  
                
                  <div class="subscribe">
                    <span>57 RJs</span>
                    <span>100k Subscribers</span>
                  </div>
                  
                  <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                  </ul>
                </div>
              </div>
              <div class="top-img">
                <img src="assets/images/login-img.jpg" alt="img" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--Header End Here-->

  <!--Title sec Start Here-->
  <div class="admin-sec">
    <div class="row admin-top">   
     
      <div class="col-md-12 settings-main">
        <div class="s_inner">         
          <div class="s-box online"><a href="#"> Chat with RJs <i class="fas fa-user-cog"></i></a></div>
        </div>
      </div>
    </div>
  </div>

  <!--Title sec End Here-->


  <div class="body-main">
    <div class="body-content">  
      <h3><a (click)="back.emit()"><i class="fas fa-angle-left"></i> Back to Dashboard</a></h3>   
      <div class="c-podcast">
        <h3>Edit a Podcast</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9 mb-4">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Podcast Name" [(ngModel)]="EditData.name" value="Podcast 34">
                  <label for="floatingInput">Podcast Name</label>
                </div>               
              </div>
              <div class="col-md-9 mb-4">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Author Name" [(ngModel)]="EditData.author_name" value="RJ Name">
                  <label for="floatingInput">Author Name</label>
                </div>                  
              </div>
              <div class="col-md-9 mb-4">
               <select class="form-control" [(ngModel)]="EditData.language">
                 <option *ngFor="let a of LanguageList">{{a.name}}</option>
               </select>
              </div>
              <div class="col-md-9 mb-4">
                <select class="form-control" [(ngModel)]="EditData.category">
                  <option *ngFor="let a of prodcastservice.CategoryList">{{a.name}}</option>
                </select>
               </div>
               <div class="col-md-3 mb-4 d-flex align-items-center" >
                 <p class="pe-3 mb-0">Explicit</p>
                 <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                </div>
               </div>
               <div class="col-md-12 mb-4">
                <textarea class="form-control" placeholder="Describe you Podcast in few lines. Describe you Podcast in few lines.Describe you Podcast in few lines.Describe you Podcast in few lines.Describe you Podcast in few lines.Describe you Podcast in few lines.Describe you Podcast in few lines."></textarea>
              </div>
            </div>            
          </div>
          <div class="col-md-6">
            <section>
              <form action="" method="POST" enctype="multipart/form-data">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                      
                      
                        <div class="dropzone-wrapper">
                          <div class="preview-zone hidden">
                            <div class="box box-solid">
                              
                              <div class="box-body"></div>
                            </div>
                          </div>
                          <div class="dropzone-desc">
                            <i class="glyphicon glyphicon-download-alt"></i>
                            <p class="mb-1">" Morning comedy ver3 " file added</p>                           
                          </div>
                          <input type="file" name="img_logo" class="dropzone" [(ngModel)]="EditData.audiopath" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </section>
            
            
           
            <div class="drop-zone">
              <span class="drop-zone__prompt"><p>Upload <br/> Podcast picture <br/>Or<br/> Topic picture</p>                </span>
              <input type="file" name="myFile" class="drop-zone__input" style="display: block;" [(ngModel)]="EditData.imagepath">
            </div>
            
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <textarea class="form-control my-4" [(ngModel)]="EditData.Notestocommunicate">Notes to communicate </textarea>
            <button class="custome-button">Update</button>
          </div>
        </div>

        <div class="row my-4">
          <div class="col-12 mt-4">
            <h2 class="mb-4">Notes on Podcast</h2>
            <!-- <textarea class="form-control mb-4">Notes on edit if you wish to communicate admin</textarea> -->
            <div class="table-responsive dashboard-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>User</th> 
                    <th>Status</th>                    
                    <th>Notes</th>                
                    <th class="text-center">File</th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p class="mb-0">25th Jan 2021</p>
                      <span class="small">20:30</span>
                      
                    </td>
                    <td>
                      <p class="m-0">Admin</p>
                    </td>
                    
                    <td>(Live)</td>
                    <td>We are going on live on 25th 22:10</td>
                    <td class="text-center"><i class="far fa-file-download"></i></td>
                  </tr>
                  <tr>
                    <td>
                      <p class="mb-0">25th Jan 2021</p>
                      <span class="small">20:30</span>
                      
                    </td>
                    <td>
                      <p class="m-0">RJ</p>
                    </td>
                    
                    <td>(Live)</td>
                    <td>Nice work</td>
                    <td class="text-center"><i class="far fa-file-download"></i></td>
                  </tr>
                  <tr>
                    <td>
                      <p class="mb-0">25th Jan 2021</p>
                      <span class="small">20:30</span>
                      
                    </td>
                    <td>
                      <p class="m-0">Admin</p>
                    </td>
                    
                    <td>(Live)</td>
                    <td>We are going on live on 25th 22:10</td>
                    <td class="text-center"><i class="far fa-file-download"></i></td>
                  </tr>
                  <tr>
                    <td>
                      <p class="mb-0">25th Jan 2021</p>
                      <span class="small">20:30</span>
                      
                    </td>
                    <td>
                      <p class="m-0">RJ</p>
                    </td>
                    
                    <td>(Live)</td>
                    <td>Nice work</td>
                    <td class="text-center"><i class="far fa-file-download"></i></td>
                  </tr>
                  <tr>
                    <td>
                      <p class="mb-0">25th Jan 2021</p>
                      <span class="small">20:30</span>
                      
                    </td>
                    <td>
                      <p class="m-0">Admin</p>
                    </td>
                    
                    <td>(Live)</td>
                    <td>We are going on live on 25th 22:10</td>
                    <td class="text-center"><i class="far fa-file-download"></i></td>
                  </tr>
                 
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>