<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex flex-wrap align-items-center">
        <div class="logo"><img src="assets/images/logo.jpg" alt="Logo" /></div>
        <div class="top-title">
          <h1>Admin Dashboard</h1>
        </div>
        <div class="logo-right">
          <div class="top-user">
            <div class="top-name">
              <div>
               <p class="mb-0"><strong>Welcome, {{prodcastService.loginUserName.toUpperCase()}}</strong> </p>
                
              
                <div class="subscribe">
                  <span>{{prodcastService.UserStastics.TotalRJ}} RJs</span>
                  <!-- <span>100k Subscribers</span> -->
                </div>
                
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <!-- <li><a class="dropdown-item" href="#">Dropdown link</a></li> -->
                  <li><a class="dropdown-item" (click)="logout()">Log Out</a></li>
                </ul>
              </div>
            </div>
            <div class="top-img outsideclick" style="cursor: pointer" (click)="showhidecnd.showSettings=!showhidecnd.showSettings; bindSingleClickEvent()">
              <img [src]="srcimg" alt="img" /> 
              <i style="position: relative;top: 17px; color: #0038d5;" class="fas fa-chevron-down"></i>
            </div>
            
            <ul class="dropdown-menu outsideclick" *ngIf="showhidecnd.showSettings" aria-labelledby="btnGroupDrop5"
              style="position: absolute; right: 0px; display: block; cursor: pointer; top: 45px;">
              <li><a class="dropdown-item"
                  (click)="showhidecnd.showSettings = false;router.navigateByUrl('/rj-approvals')"><i
                    class="fas fa-check-circle"></i> RJ Approvals</a></li>
              <li><a class="dropdown-item"
                  (click)="showhidecnd.showSettings = false;router.navigateByUrl('/podcast-delete')"><i
                    class="fas fa-trash-alt"></i> Deleted Podcast</a></li>
              <li><a class="dropdown-item"
                  (click)="showhidecnd.showSettings = false;router.navigateByUrl('/create-category')"><i
                    class="fas fa-edit"></i> Edit Category</a></li>
              <li><a class="dropdown-item"
                  (click)="showhidecnd.showSettings = false;router.navigateByUrl('/create-language')"><i
                    class="fas fa-file-edit"></i> Edit Language</a></li>
              <li><a class="dropdown-item"
                  (click)="showhidecnd.showSettings = false;router.navigateByUrl('/user-spot')"><i
                    class="fas fa-film"></i> Ads Spot</a></li>
              <li><a class="dropdown-item"
                  (click)="showhidecnd.showSettings = false;router.navigateByUrl('/push-notification')"><i
                    class="fas fa-volume-up"></i> Push Notification</a></li>

              <li><a class="dropdown-item"
                  (click)="showhidecnd.showSettings = false;router.navigateByUrl('/app-user')"><i
                    class="fas fa-mobile-alt"></i> App User</a></li>
              <li><a class="dropdown-item"
                  (click)="showhidecnd.showSettings = false;router.navigateByUrl('/reported')"><i
                    class="far fa-file-chart-line"></i> Reported</a></li>
              <!-- <li><a class="dropdown-item" href="#">Manage Ads</a></li> -->
              <li><a class="dropdown-item" (click)="showhidecnd.showSettings = false;logOut()"><i
                    class="fas fa-sign-out"></i> Log out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--Header End Here-->
