<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex flex-wrap align-items-center">
        <div class="logo"><a href="#"><img src="assets/images/logo.jpg" alt="Logo" /></a></div>
        <div class="top-title">
          <h1>Admin Dashboard</h1>
        </div>
        <div class="logo-right">
          <div class="top-user">
            <div class="top-name">
              <div>
               <p class="mb-0"><strong>Welcome, Admin Name</strong> </p>
                
              
                <div class="subscribe">
                  <span>57 RJs</span>
                  <span>100k Subscribers</span>
                </div>
                
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                </ul>
              </div>
            </div>
            <div class="top-img">
              <img src="images/login-img.jpg" alt="img" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--Header End Here-->

<!--Title sec Start Here-->
<div class="admin-sec">
  <div class="row admin-top">   
   
    <div class="col-md-12 settings-main">
      <div class="s_inner">         
        <div class="s-box"><a href="#" id="btnGroupDrop3" class="dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false"><i class="fas fa-bell"></i><sup>5</sup></a>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3">
            <li><a class="dropdown-item" href="#">link 1</a></li>
            <li><a class="dropdown-item" href="#">link 2</a></li>
            <li><a class="dropdown-item" href="#">link 3</a></li>
            <li><a class="dropdown-item" href="#">link 4</a></li>
            <li><a class="dropdown-item" href="#">link 5</a></li>
            <li><a class="dropdown-item" href="#">link 6</a></li>
            <li><a class="dropdown-item" href="#">link 7</a></li>
            <li><a class="dropdown-item" href="#">link 8</a></li>
          </ul>
        </div>
        <div class="s-box">
          <a href="#" id="btnGroupDrop4" class="dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false"><i class="fas fa-envelope"></i><sup>10</sup></a>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop4">
            <li><a class="dropdown-item" href="#">link 1</a></li>
            <li><a class="dropdown-item" href="#">link 2</a></li>
            <li><a class="dropdown-item" href="#">link 3</a></li>
            <li><a class="dropdown-item" href="#">link 4</a></li>
            <li><a class="dropdown-item" href="#">link 5</a></li>
            <li><a class="dropdown-item" href="#">link 6</a></li>
            <li><a class="dropdown-item" href="#">link 7</a></li>
            <li><a class="dropdown-item" href="#">link 8</a></li>
          </ul>
        </div>
        <div class="s-box">
          <a href="#" id="btnGroupDrop5" class="dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false"><i class="fas fa-cog"></i></a>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop5">
            <li><a class="dropdown-item" href="rj-profile.html">RJ Profiles</a></li>
            <li><a class="dropdown-item" href="edit-category.html">Edit Category</a></li>
            <li><a class="dropdown-item" href="#">Manage Ads</a></li>
            <li><a class="dropdown-item" href="#">Log out</a></li>              
          </ul>
        </div>
        <div class="s-box online"><a href="#"> Chat with RJs <i class="fas fa-user-cog"></i></a></div>
      </div>
    </div>
  </div>
</div>

<!--Title sec End Here-->