
  <!--Header Start Here-->
  <app-generic-header></app-generic-header>
  <!--Header End Here-->

<div class="body-main">
  <div class="body-content" style="height: 85vh;">  
    <h3 style="cursor: pointer;"><a (click)="router.navigateByUrl('/login')"><i class="fas fa-angle-left"></i> Back to Dashboard</a></h3>   
 
      <h3>Add Catetory</h3>

       
          <div class="row">
            <div class="col-md-12 px-1 d-flex">
              <div class="top-search">
                <div class="input-group mx-2">
                    <input type="text" class="form-control" placeholder="Enter New Category" [(ngModel)]="NewCatName">
                </div>
              </div>
              <button class="custome-button mx-4" (click)="createCategory()">Add New Category</button>
              <img *ngIf="apiCalled" src="./assets/images/loader.gif" style="width: auto;height: 38px;margin-left: 20px;">
            </div>
          </div>            
          <div class="row">
            <div class="col-md-12 px-1 d-flex">
             <ul class="c-list mt-5">
               <li *ngFor="let a of prodCastService.CategoryList">
                 <div>
                  

                  <img *ngIf="!a.image" src="./assets/images/1024px-No_image_available.svg.webp" alt="No Image" />
                  <img *ngIf="a.image" [src]="a.image" alt="No Image" />
                 </div> 
                 <span>{{a.name}}</span> 
                 <i class="fas fa-trash-alt" (click)="deleteProdCast(a.id)"></i>
                </li>
             </ul>
          </div>            
     
 
  </div>
</div>