<!--Header Start Here-->
<app-generic-header></app-generic-header>
<!--Header End Here-->

<div class="admin-sec">
  <div class="row admin-top">
      <div class="col-md-4 admin-title">
          <h3 class="mb-0" style="cursor: pointer;"><a routerLink="/dashboard"><i class="fas fa-angle-left"></i> Back to Dashboard</a></h3>
      </div>
  </div>
</div>

<div class="body-main">
  <div class="body-content">
    <div class="row">
      <div class="table-responsive dashboard-table">
      <table class="table">
        <thead>
          <tr>
          <th>Type</th>
          <th>User Type</th>
          <th>User Name</th>
          <th>Content</th>
          <th>Reported By</th>
          <th>Reported Data</th>
          <th>Date</th>
          <th></th>
          <!-- <th></th> -->
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of reportedList">
            <td>{{s.type}}</td>
            <td>{{s.to_user_type}}</td>
            <td>{{s.user_name}}</td>
            <td>{{s.reported_data}}</td>
            <td>{{s.reported_by}}</td>
            <td>{{s.reported_tagged}}</td>
            <td>
              <a *ngIf="s.type == 'comment'" style="color: rgb(4, 0, 255);cursor: pointer;" (click)="DeleteComment(s.type_id)">Delete Comment</a>
              <!-- <a *ngIf="s.type == 'podcast'" style="color: rgb(255, 158, 47);cursor: pointer;" (click)="DeleteComment(s.type_id)">Review Podcast</a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
