<!--Header Start Here-->
<app-generic-header></app-generic-header>
<!--Header End Here-->
<div class="body-main">
    <div class="body-content" style="padding: 0;">
        <div class="row">
            <div>
                <a href="#" (click)="$event.preventDefault();router.navigateByUrl('/dasdboard')" style="margin-left: 10px;">
                  <i style="margin-top: 3px;" class="fas fa-angle-left"></i> Back to Dashboard</a>
              </div>
            <div class="col-md-3">
                <!-- <h3 style="cursor: pointer;"><a (click)="router.navigateByUrl('/dasdboard')"><i class="fas fa-angle-left"></i>
            Back
            to Dashboard</a></h3> -->
            
                <div style="padding: 10px;">
                    <input [(ngModel)]="search" [ngModelOptions]="{standalone: true}" class="chat-input" type="text" placeholder="Search here..">
                    <span *ngIf="search" (click)="search=''" style="float: right; cursor: pointer;margin-top: 15px;"><i
              class="fas fa-times"></i></span>
                </div>
                <ul class="list-group" style="height: 90vh; overflow: auto;">
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let m of podcastList | searchlist: search" (click)="loadSelectedPodcast(m)" [class.active1]="m.Active">
                        <div class="podcast-live-list">
                            <span class="img"><img [src]="m.imagepath" *ngIf="m.imagepath">
                            <img src="./assets/images/nopicuser.png" *ngIf="!m.imagepath">
                        </span>
                            <span class="username" style="margin-left: 5px;">
                                {{m.podcast_name}}                               
                            </span>
                            <span>
                                By {{m.rj_name}} <br />
                                Live on {{m.broadcast_date}}
                            </span>
                            
                        </div>
                        
                    </li>

                </ul>
            </div>
            <div class="col-md-9" style="background: #fff; padding: 0px 20px 0px 0px;">
                <div class="chat-container">
                    <div class="card">
                        <div class="card-body" id="scroll" style="height: 80vh; overflow: auto;">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3" style="position: relative;">
                                        <div *ngIf="!podcastDetails.imagepath" class="drop-zone upload-image" style="height:150px;border-radius:10px;width: 150px;">
                                            <i class="fas fa-file-upload" title="upload category picture" style="font-size: 28px;"></i>
                                            <input type="file" name="myFile" class="drop-zone__input" style="display: block;" (change)="uploadFile($event.target.files)" accept="image/png,image/jpg,image/jpeg">

                                        </div>
                                        <div *ngIf="podcastDetails.imagepath" class="drop-zone upload-image" style="height:150px;border-radius:10px;width: 150px;overflow: hidden;">
                                            <img [src]="podcastDetails.imagepath" [alt]="podcastDetails.imagepath" style="border-radius: 0px;border-radius: 0px;
                                            max-height: 150px;
                                            max-width: 150px;
                                            height: 150px;
                                            width: 150px;">
                                        </div>
                                        <button *ngIf="podcastDetails.imagepath" (click)="removeFile()" style="cursor: pointer;
                                        background: none;
                                        border: none;
                                        color: #f00;
                                        position: absolute;
                                        top: -10px;
                                        right: 28px;
                                        z-index: 2;"><i class="fas fa-trash-alt"></i></button>
                                        <!-- <input type="text" class="form-control" placeholder="SVG Url(Optional)" [(ngModel)]="NewCatImage"> -->

                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingInput" placeholder="Podcast Name" [(ngModel)]="podcastDetails.podcast_name">
                                            <label>Podcast Name</label>
                                        </div>
                                        <div class="form-floating">
                                        <textarea class="form-control my-4" placeholder="Description" [(ngModel)]="podcastDetails.description"></textarea>
                                        <label>Podcast Description</label>
                                    </div>
                                    </div>
                                </div>
                            </div>
                         
                            <div class="col-sm-12">
                                <button class="custome-button mx-4" (click)="sendtoAll('All')">Send to All</button>
                                <button class="custome-button mx-4" [disabled]="!this.podcastDetails.podcast_id" (click)="sendtoAll('Subscribed')">Send to Subscribed User</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>